@page
@model AboutModel
@{
    ViewData["Title"] = "About Us";
}

<!-- ABOUT -->
<section id="hero">
    <div class="hero-container">
        <div class="carousel-inner" role="listbox">

            <!-- About Page -->
            <div class="carousel-item active" style="background-image: url(../img/petbg1.jpg);">
                <div class="carousel-container">
                    <div class="carousel-content">
                        <h2 class="animate__animated animate__fadeInDown">About <span>Us</span></h2>
                        <p class="animate__animated animate__fadeInUp">
                            <b>
                                <span style="color: #ffb03b; font-size: 30px; font-family: Poppins, sans-serif;"><b>Pet Diary</b></span>
                                <br>
                                At Pet Diary , we’re much the same as your pets social media – well disposed of, fun-loving, and absolutely stand-out.
                                <br>
                                Communicate with lot's of furr parents here on our website. Have fun meeting new pet owners and share some tips in taking care
                                with your furr babies.
                                <br>
                                A website for fun and entertainment by creating and having an account for your furr babies. We intend to provide a great service
                                and entertainment for every single user by making our website your home for your pets. Have Fun!
                            </b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="why-us" class="why-us">
    <div class="container">

        <div class="section-title">
            <h2>Why choose <span>Pet Diary</span></h2>
            <p>Here are some features of our website.</p>
        </div>

        <div class="row">

            <div class="col-lg-4">
                <div class="box">
                    <span>01</span>
                    <h4>Sign Up</h4>
                    <p>Create an account for your furr babies to enjoy our website.</p>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box">
                    <span>02</span>
                    <h4>Pet Friends</h4>
                    <p>Find and add some friends to start communicate with other pet owners.</p>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box">
                    <span>03</span>
                    <h4>Pet Community</h4>
                    <p>Look for a group of pets that has the same pets.</p>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box">
                    <span>04</span>
                    <h4>Pet Adoption</h4>
                    <p>Looking for a new pet or finding a new pet owner for your furr baby. This website might help you with that.</p>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box">
                    <span>05</span>
                    <h4>Pet Fun</h4>
                    <p>Posting and sharing some stuffs and status about your pet.</p>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box">
                    <span>06</span>
                    <h4>Communicate and Have Fun!</h4>
                    <p>Our main goal is to provide a great service for every single user. Enjoy!</p>
                </div>
            </div>

        </div>

    </div>
</section>


<section id="gallery" class="gallery">
    <div class="container-fluid">

        <div class="section-title">
            <h2>Pictures of <span>Pet Babies</span></h2>
            <p>Here are some of photos of furr babies.</p>
        </div>

        <div class="row g-0">

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="../img/pet1.jpg" class="gallery-lightbox">
                        <img src="../img/pet1.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="../img/pet2.jpg" class="gallery-lightbox">
                        <img src="../img/pet2.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="../img/pet3.jpg" class="gallery-lightbox">
                        <img src="../img/pet3.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="../img/pet4.jpg" class="gallery-lightbox">
                        <img src="../img/pet4.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="../img/pet5.jpg" class="gallery-lightbox">
                        <img src="../img/pet5.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="../img/pet6.jpg" class="gallery-lightbox">
                        <img src="../img/pet6.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="../img/pet7.jpg" class="gallery-lightbox">
                        <img src="../img/pet7.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="../img/pet8.jpg" class="gallery-lightbox">
                        <img src="../img/pet8.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="../img/pet9.jpg" class="gallery-lightbox">
                        <img src="../img/pet9.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="../img/pet10.jpg" class="gallery-lightbox">
                        <img src="../img/pet10.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="../img/pet11.jpg" class="gallery-lightbox">
                        <img src="../img/pet11.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="../img/pet12.jpg" class="gallery-lightbox">
                        <img src="../img/pet12.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

        </div>

    </div>
</section>
