@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<!-- PRIVACY -->
<section id="hero">
    <div class="hero-container">
        <div class="carousel-inner" role="listbox">

            <!-- Privacy Page -->
            <div class="carousel-item active" style="background-image: url(../img/petbg2.jpg);">
                <div class="carousel-container">
                    <div class="carousel-content">
                        <h2 class="animate__animated animate__fadeInDown">Privacy <span>Policy</span></h2>
                        <p class="animate__animated animate__fadeInUp">
                            To know more about Privacy Policy with regards to your personal data, please see the information below.
                            You can also go directly and visit this <a href="https://www.privacy.gov.ph/data-privacy-act/">Data Privacy Policy</a>.
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>


<section id="about" class="about">
    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch"></div>

            <div class="content">
                <h3>What does this<strong> Data Privacy Act of 2012 </strong> cover?</h3>
                <p>
                    AN ACT PROTECTING INDIVIDUAL PERSONAL INFORMATION IN INFORMATION AND COMMUNICATIONS SYSTEMS IN THE GOVERNMENT AND THE PRIVATE SECTOR,
                    CREATING FOR THIS PURPOSE A NATIONAL PRIVACY COMMISSION, AND FOR OTHER PURPOSES.
                </p>
                <p class="fst-italic">
                    Short Title.
                </p>
                <ul>
                    <li><i class="bx bx-check-double"></i> This Act shall be known as the “Data Privacy Act of 2012”.</li>
                </ul>
                <p class="fst-italic">
                    Declaration of Policy.
                </p>
                <ul>
                    <li>
                        <i class="bx bx-check-double"></i> It is the policy of the State to protect the fundamental human right of privacy,
                        of communication while ensuring free flow of information to promote innovation and growth. The State recognizes the vital
                        role of information and communications technology in nation-building and its inherent obligation to ensure that personal
                        information in information and communications systems in the government and in the private sector are secured and protected.
                    </li>
                </ul>
            </div>

        </div>

    </div>
</section>

