@page
@model PetDiary.Pages.Home.CommunityModel
@{
    ViewData["Title"] = "Community Page";
	Layout = "~/Pages/Shared/_HomeLayout.cshtml";
}

 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
        <div class="container">
            <div class="row clearfix">

                <!-- Modal 1-->
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="card product_item">
                        <div class="body">
                            <div class="cp_img">
                                <img src="https://www.sgu.edu/blog/veterinary/wp-content/uploads/sites/3/2019/03/Taking-Care-of-Animals_Square.jpg" alt="" class="img-fluid" data-toggle="modal" data-target="#community1">
                            </div>
                            <div class="product_details">
                                <h6 style="font-family: Poppins, sans-serif; margin-top: 15px; font-size: 14px;">Taking Care of Animals: Pro Tips for Pet Owners</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal 2-->
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="card product_item">
                        <div class="body">
                            <div class="cp_img">
                                <img src="https://yt3.ggpht.com/a/AATXAJw2yM_JvkFKlqMZeobWJzn_M7m5NG_qnxhPIg=s900-c-k-c0xffffffff-no-rj-mo" alt="" class="img-fluid" data-toggle="modal" data-target="#community2">
                            </div>
                            <div class="product_details">
                                <h6 style="font-family: Poppins, sans-serif; margin-top: 15px; font-size: 14px;">GUIDE FOR TAKING CARE OF ANIMALS</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal 3-->
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="card product_item">
                        <div class="body">
                            <div class="cp_img">
                                <img src="https://img.chewy.com/is/image/catalog/53673_PT7._AC_SL1500_V1530191379_.jpg" alt="" class="img-fluid" data-toggle="modal" data-target="#community3">
                            </div>
                            <div class="product_details">
                                <h6 style="font-family: Poppins, sans-serif; margin-top: 15px; font-size: 14px;">10 Responsible Pet Care Tips</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal 4-->
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="card product_item">
                        <div class="body">
                            <div class="cp_img">
                                <img src="https://www.dogmal.com/wp-content/uploads/2016/10/feed-clean-water-for-pets-768x768.jpg" alt="" class="img-fluid" data-toggle="modal" data-target="#community4">
                            </div>
                            <div class="product_details">
                                <h6 style="font-family: Poppins, sans-serif; margin-top: 15px; font-size: 14px;">How to take care of pets: Tips By Dogmal</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal 5-->
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="card product_item">
                        <div class="body">
                            <div class="cp_img">
                                <img src="https://th.bing.com/th/id/OIP.5aX3-4UYFoxMnrOP_f_q5AHaHa?pid=ImgDet&w=768&h=768&rs=1" alt="" class="img-fluid" data-toggle="modal" data-target="#community5">
                            </div>
                            <div class="product_details">
                                <h6 style="font-family: Poppins, sans-serif; margin-top: 15px; font-size: 14px;">25 Different Types of Pets Could be Best for You</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal 6-->
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="card product_item">
                        <div class="body">
                            <div class="cp_img">
                                <img src="https://i.pinimg.com/originals/ac/21/7c/ac217c5899ea9313e1780948cf88df01.jpg" alt="" class="img-fluid" data-toggle="modal" data-target="#community6">
                            </div>
                            <div class="product_details">
                                <h6 style="font-family: Poppins, sans-serif; margin-top: 15px; font-size: 14px;">Types of Pets</h6>
                            </div>
                        </div>
                    </div>
                </div>
               
               <!-- Modal 7-->
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="card product_item">
                        <div class="body">
                            <div class="cp_img">
                                <img src="https://th.bing.com/th/id/R.4d7a159340f24f7b371ecde600da66a2?rik=%2fULipNM3rn3mJQ&riu=http%3a%2f%2fhartleysmarket.com%2fwp-content%2fuploads%2f2020%2f12%2fPets.jpg&ehk=tpeEFiPImVLlyy64ZYDLG2CkoJwEAeEJIsl0FyGz0s0%3d&risl=&pid=ImgRaw&r=0" alt="" class="img-fluid" data-toggle="modal" data-target="#community7">
                            </div>
                            <div class="product_details">
                                <h6 style="font-family: Poppins, sans-serif; margin-top: 15px; font-size: 14px;">Pet Types</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal 8-->
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="card product_item">
                        <div class="body">
                            <div class="cp_img">
                                <img src="https://th.bing.com/th/id/OIP.Qe4lSi7ViiGT9JEn25Hk_AHaHa?pid=ImgDet&w=500&h=500&rs=1" alt="" class="img-fluid" data-toggle="modal" data-target="#community8">
                            </div>
                            <div class="product_details">
                                <h6 style="font-family: Poppins, sans-serif; margin-top: 15px; font-size: 14px;">Types of Pets Pictures: Pros and Cons</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal 9-->
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="card product_item">
                        <div class="body">
                            <div class="cp_img">
                                <img src="https://petessentialswhangarei.co.nz/portals/27/fish1.jpg" alt="" class="img-fluid" data-toggle="modal" data-target="#community9">
                            </div>
                            <div class="product_details">
                                <h6 style="font-family: Poppins, sans-serif; margin-top: 15px; font-size: 14px;">THE 19 EASIEST PETS TO TAKE CARE OF</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal 10-->
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="card product_item">
                        <div class="body">
                            <div class="cp_img">
                                <img src="https://images.saymedia-content.com/.image/c_limit%2Ccs_srgb%2Cq_auto:eco%2Cw_1080/MTc0NDQ4MjA5MTE0OTY1NjM4/which-pets-are-easy-to-take-care-of.webp" alt="" class="img-fluid" data-toggle="modal" data-target="#community10">
                            </div>
                            <div class="product_details">
                                <h6 style="font-family: Poppins, sans-serif; margin-top: 15px; font-size: 14px;">10 Low-Maintenance Pets That Can Be Easy to Care For</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal 11-->
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="card product_item">
                        <div class="body">
                            <div class="cp_img">
                                <img src="https://www.petspyjamas.com/uploads/2014/06/pexels-katya-wolf-9428557-1-690x460.jpg" alt="" class="img-fluid" data-toggle="modal" data-target="#community11">
                            </div>
                            <div class="product_details">
                                <h6 style="font-family: Poppins, sans-serif; margin-top: 15px; font-size: 14px;">TOP 13 LOW-MAINTENANCE PETS FOR KIDS</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal 12-->
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="card product_item">
                        <div class="body">
                            <div class="cp_img">
                                <img src="https://th.bing.com/th/id/OIP.vzbOjaKrCTM6Ysm3PmzzHAHaHa?pid=ImgDet&w=1500&h=1500&rs=1" alt="" class="img-fluid" data-toggle="modal" data-target="#community12">
                            </div>
                            <div class="product_details">
                                <h6 style="font-family: Poppins, sans-serif; margin-top: 15px; font-size: 14px;">The 23 Easiest Dog Breeds to Take Care Of</h6>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!---------------------------------------- MODALS ---------------------------------------->


        <!-- Modal 1-->
        <div class="portfolio-modal modal fade" id="community1" tabindex="-1" aria-labelledby="community1" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <h2 class="portfolio-modal-title text-uppercase mb-0" style="font-family: Poppins, sans-serif; margin-bottom: 15px; font-size: 20px;">Taking Care of Animals: Pro Tips for Pet Owners</h2>
                                    <img class="img-fluid rounded mb-5" src="https://www.sgu.edu/blog/veterinary/wp-content/uploads/sites/3/2019/03/Taking-Care-of-Animals_Square.jpg" alt="..." style="height:200px; width:200px;"/>
                                    <p class="mb-4">Bringing a new pet into your house can be as intimidating as it is exciting. Even if you have an animal or two at home, a new pet can lead to plenty of unanswered questions.</p>
                                    <a class="btn btn-warning" style="color: #fff;" href="https://www.sgu.edu/blog/veterinary/tips-on-taking-care-of-animals/">
                                        Visit Website
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal 2-->
        <div class="portfolio-modal modal fade" id="community2" tabindex="-1" aria-labelledby="community2" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <h2 class="portfolio-modal-title text-uppercase mb-0" style="font-family: Poppins, sans-serif; margin-bottom: 15px; font-size: 20px;">GUIDE FOR TAKING CARE OF ANIMALS</h2>
                                    <img class="img-fluid rounded mb-5" src="https://yt3.ggpht.com/a/AATXAJw2yM_JvkFKlqMZeobWJzn_M7m5NG_qnxhPIg=s900-c-k-c0xffffffff-no-rj-mo" alt="..." style="height:200px; width:200px;"/>
                                    <p class="mb-4">As pet owners, we all want the best for our smallest and sometimes, furriest family members. It is important for every pet parent caring for animals that they are getting everything they need to be happy and healthy pets. Taking care of animals is more than just making sure their bowl is full or that the dog is walked, and the litter box is scooped.</p>
                                    <a class="btn btn-warning" style="color: #fff;" href="https://veterinary.rossu.edu/about/blog/guide-for-taking-care-of-animals">
                                        Visit Website
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <!-- Modal 3-->
        <div class="portfolio-modal modal fade" id="community3" tabindex="-1" aria-labelledby="community3" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <h2 class="portfolio-modal-title text-uppercase mb-0" style="font-family: Poppins, sans-serif; margin-bottom: 15px; font-size: 20px;">10 Responsible Pet Care Tips</h2>
                                    <img class="img-fluid rounded mb-5" src="https://img.chewy.com/is/image/catalog/53673_PT7._AC_SL1500_V1530191379_.jpg" alt="..." style="height:200px; width:200px;"/>
                                    <p class="mb-4">As a pet parent you want to do everything you can to care for your pet; this involves regular, everyday activities to ensure they stay happy and healthy. Practice these ten responsible pet care tips year after year for a lifetime of happy and healthy cats and dogs.</p>
                                    <a class="btn btn-warning" style="color: #fff;" href="https://www.hillspet.com/pet-care/routine-care/10-responsible-pet-care-tips">
                                        Visit Website
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


         <!-- Modal 4-->
        <div class="portfolio-modal modal fade" id="community4" tabindex="-1" aria-labelledby="community4" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <h2 class="portfolio-modal-title text-uppercase mb-0" style="font-family: Poppins, sans-serif; margin-bottom: 15px; font-size: 20px;">How to take care of pets: Tips By Dogmal</h2>
                                    <img class="img-fluid rounded mb-5" src="https://www.dogmal.com/wp-content/uploads/2016/10/feed-clean-water-for-pets-768x768.jpg" alt="..." style="height:200px; width:200px;"/>
                                    <p class="mb-4">Most people love their pets. And many people have hobbies to adopt a pet. So do you like pets? Or are you searching information about how to take care of pets? So stop your searching and read below information about How to take care of pets in  your home?</p>
                                    <a class="btn btn-warning" style="color: #fff;" href="https://www.dogmal.com/take-care-pets/">
                                        Visit Website
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal 5-->
        <div class="portfolio-modal modal fade" id="community5" tabindex="-1" aria-labelledby="community5" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <h2 class="portfolio-modal-title text-uppercase mb-0" style="font-family: Poppins, sans-serif; margin-bottom: 15px; font-size: 20px;">Types of Pets: 25 Different Types of Pets Could be Best for You</h2>
                                    <img class="img-fluid rounded mb-5" src="https://th.bing.com/th/id/OIP.5aX3-4UYFoxMnrOP_f_q5AHaHa?pid=ImgDet&w=768&h=768&rs=1" alt="..." style="height:200px; width:200px;"/>
                                    <p class="mb-4">Types of pets! When it comes to the types of animals that can be kept as pets, there are many to choose from. Your pet choice should be based on what sort of animal suits your personality, work best with your lifestyle, and match your needs.</p>
                                    <a class="btn btn-warning" style="color: #fff;" href="https://visualdictionary.org/types-of-pets/">
                                        Visit Website
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal 6-->
        <div class="portfolio-modal modal fade" id="community6" tabindex="-1" aria-labelledby="community6" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <h2 class="portfolio-modal-title text-uppercase mb-0" style="font-family: Poppins, sans-serif; margin-bottom: 15px; font-size: 20px;">Types of Pets</h2>
                                    <img class="img-fluid rounded mb-5" src="https://i.pinimg.com/originals/ac/21/7c/ac217c5899ea9313e1780948cf88df01.jpg" alt="..." style="height:200px; width:200px;"/>
                                    <p class="mb-4">The best pets are those that make great companions. There are many different types of pets that could be right for you and be a wonderful complement to your life. Your pet choice should be based on what sort of animal suits your personality, works best with your lifestyle, and matches your needs.</p>
                                    <a class="btn btn-warning" style="color: #fff;" href="https://animal-world.com/encyclo/information/types-of-pets.php">
                                        Visit Website
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal 7-->
        <div class="portfolio-modal modal fade" id="community7" tabindex="-1" aria-labelledby="community7" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <h2 class="portfolio-modal-title text-uppercase mb-0" style="font-family: Poppins, sans-serif; margin-bottom: 15px; font-size: 20px;">Pet Types</h2>
                                    <img class="img-fluid rounded mb-5" src="https://th.bing.com/th/id/R.4d7a159340f24f7b371ecde600da66a2?rik=%2fULipNM3rn3mJQ&riu=http%3a%2f%2fhartleysmarket.com%2fwp-content%2fuploads%2f2020%2f12%2fPets.jpg&ehk=tpeEFiPImVLlyy64ZYDLG2CkoJwEAeEJIsl0FyGz0s0%3d&risl=&pid=ImgRaw&r=0" alt="..." style="height:200px; width:200px;"/>
                                    <p class="mb-4">When it comes to choosing a pet for the home, it’s good to know the different types of pets available to choose from. There are small pets, reptile pets, cute pets, house pets and mini pets. The choice is practically seem endless.</p>
                                    <a class="btn btn-warning" style="color: #fff;" href="https://petsopedia.com/pet-types">
                                        Visit Website
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal 8-->
        <div class="portfolio-modal modal fade" id="community8" tabindex="-1" aria-labelledby="community8" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <h2 class="portfolio-modal-title text-uppercase mb-0" style="font-family: Poppins, sans-serif; margin-bottom: 15px; font-size: 20px;">Types of Pets Pictures: Pros and Cons (Animals, Birds & Reptiles)</h2>
                                    <img class="img-fluid rounded mb-5" src="https://th.bing.com/th/id/OIP.Qe4lSi7ViiGT9JEn25Hk_AHaHa?pid=ImgDet&w=500&h=500&rs=1" alt="..." style="height:200px; width:200px;"/>
                                    <p class="mb-4">Animals and Birds occupy a prominent position in the Indian culture and some of their species are worshipped as deities in Hinduism and other religions. However, in real life, their place was confined outside the realm of a human house, as the early Indians never has the “pet” concept. With the influence of western philosophy about animal love, Indians too started treating them as Inclusive beings and “family members”.</p>
                                    <a class="btn btn-warning" style="color: #fff;" href="https://stylesatlife.com/articles/types-of-pets-list/">
                                        Visit Website
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal 9-->
        <div class="portfolio-modal modal fade" id="community9" tabindex="-1" aria-labelledby="community9" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <h2 class="portfolio-modal-title text-uppercase mb-0" style="font-family: Poppins, sans-serif; margin-bottom: 15px; font-size: 20px;">The 19 Easiest Pets to Take Care of</h2>
                                    <img class="img-fluid rounded mb-5" src="https://petessentialswhangarei.co.nz/portals/27/fish1.jpg" alt="..." style="height:200px; width:200px;"/>
                                    <p class="mb-4">However, looking after an animal requires time, care, money and responsibility. The cost of having a pet is often expensive, with food, grooming, vet bills and more to pay for. You will also need to find a trustworthy and competent person to look after your animal every day whilst you are away, which can be expensive.</p>
                                    <a class="btn btn-warning" style="color: #fff;" href="https://www.newsweek.com/19-easiest-pets-take-care-1577832">
                                        Visit Website
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal 10-->
        <div class="portfolio-modal modal fade" id="community10" tabindex="-1" aria-labelledby="community10" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <h2 class="portfolio-modal-title text-uppercase mb-0" style="font-family: Poppins, sans-serif; margin-bottom: 15px; font-size: 20px;">10 Low-Maintenance Pets That Can Be Easy to Care For</h2>
                                    <img class="img-fluid rounded mb-5" src="https://images.saymedia-content.com/.image/c_limit%2Ccs_srgb%2Cq_auto:eco%2Cw_1080/MTc0NDQ4MjA5MTE0OTY1NjM4/which-pets-are-easy-to-take-care-of.webp" alt="..." style="height:200px; width:200px;"/>
                                    <p class="mb-4">There are tons of cute and interesting pets you can befriend that don’t require a lot of maintenance. From furry pets that like to cuddle to ones that can easily be housed in your apartment, you can select the perfect companion for your lifestyle. </p>
                                    <a class="btn btn-warning" style="color: #fff;" href="https://www.goodhousekeeping.com/life/pets/g38972600/low-maintenance-pets/">
                                        Visit Website
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal 11-->
        <div class="portfolio-modal modal fade" id="community11" tabindex="-1" aria-labelledby="community11" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <h2 class="portfolio-modal-title text-uppercase mb-0" style="font-family: Poppins, sans-serif; margin-bottom: 15px; font-size: 20px;">TOP 13 LOW-MAINTENANCE PETS FOR KIDS</h2>
                                    <img class="img-fluid rounded mb-5" src="https://www.petspyjamas.com/uploads/2014/06/pexels-katya-wolf-9428557-1-690x460.jpg" alt="..." style="height:200px; width:200px;"/>
                                    <p class="mb-4">Having a pet join your family is one of the most rewarding, powerful and exciting things you can do. But it can also be very difficult – having a pet is a big lifestyle change.</p>
                                    <a class="btn btn-warning" style="color: #fff;" href="https://www.petspyjamas.com/blog/getty-top-13-low-maintenance-pets-kids/">
                                        Visit Website
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal 12-->
        <div class="portfolio-modal modal fade" id="community12" tabindex="-1" aria-labelledby="community12" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <h2 class="portfolio-modal-title text-uppercase mb-0" style="font-family: Poppins, sans-serif; margin-bottom: 15px; font-size: 20px;">The 23 Easiest Dog Breeds to Take Care Of</h2>
                                    <img class="img-fluid rounded mb-5" src="https://th.bing.com/th/id/OIP.vzbOjaKrCTM6Ysm3PmzzHAHaHa?pid=ImgDet&w=1500&h=1500&rs=1" alt="..." style="height:200px; width:200px;"/>
                                    <p class="mb-4">Some dog breeds are easier to take care of than others and with the sheer variety out there, it could be puzzling to know where to start.</p>
                                    <a class="btn btn-warning" style="color: #fff;" href="https://www.newsweek.com/23-easiest-dog-breeds-take-care-1577866">
                                        Visit Website
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
